<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Quarentine Cocktails</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Add a Recipe</label>
            <input type="text" id="example-name" class="form-control" aria-describedby="example-text" placeholder="Martini">
          </div>
          <div class="form-group">
            <label for="example-description">Drink Ingredients</label>
            <textarea class="form-control" id="example-ingredients" aria-describedby="example-description" placeholder="Vodka/Gin, Vermouth, Olive"></textarea>
          </div>
          {{!-- <button id="submit" class="btn btn-primary float-right">Submit</button> --}}
        </form>
          <div class="form-group">
            <label for="example-description">Instructions</label>
            <textarea class="form-control" id="example-instructions" aria-describedby="example-description" placeholder="Pour all ingredients into mixing glass with ice cubes...."></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Your Recipe:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.name}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
