<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Cocktail</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
</head>

<body>
    {{!-- <h1 class="animate__animated animate__bounce">Quaratine Cocktails</h1> --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Quarantine Cocktails</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">    
                <li class="nav-item">
                    <a class="nav-link" href="/search">Cocktail Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/random">Random Cocktail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add a Recipe<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="navbar-text">
                Welcome to Quarantine Cocktail!
            </span>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1 class="animate__animated animate__tada" "display-4">Random Cocktail Generator!</h1>
            <hr class="my-4">
            <p class="text-center">To generate a new random cocktail simply press the New Cocktail button!</p>
            <div class="center">
                <a class="btn btn-primary btn-lg" href="#" role="button" onclick="window.location.reload();">New
                    Cocktail</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div id="drink-section"></div>
            </div>
        </div>

    </div>
    <script src="rapid.js"></script>
    </div>
</body>

</html>

<script src="/js/random.js"></script>