
button,
    div,
    form,
    input {
      margin: 10px;
}

#drink-section img{
    width: 50%;
    height: 75%;
}

#drink-section{
    text-align: center;
}

.btn{
    text-align: center;
    
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.form-control{
    margin-left: 0px;
}

#cocktail{
    margin-right: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

}

h1{
    text-align: center;
}

@media screen and (max-width: 320px) {
    .container{
        width: 100%;
    }
}